.rs-ruler {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}

.rs-super-input {
  position: relative;
}

.rs-super-notif {
  position: absolute;
  top: 0; left: 20px; right: 20px;
  text-align: center;
}

.rs-ruler-input {
  outline: none;
  border: none;
  border-bottom: 5px solid rgba(black, .2);
  background: rgba(white, .7);
  @include box-shadow(rgba(black, .3) 0 4px 8px);
  font-family: "monospace";
  font-size: 31px;
  width: 800px;
  height: 130px;
  text-align: center;
  padding-top: 20px;
  color: rgba(black, .5);
  &:hover {
    color: rgba(black, .7);
  }
  &.small {
    font-size: 20px;
  }
  &:focus {
    color: rgba(black, .7);
    border-color: $green;
  }
  &.invalid {
   border-color: $red;
  }
  &.waiting{
   border-color: $blue;
  }
}

.absright {
  position:absolute;
  top: 20px;
  right: 0px;
}

.rs-btn {
  cursor:pointer;
  border:none;
  background: transparent;
  font-size: 24px;
  color: rgba(black, .4);
  &:hover:not(.lock) {
    color: rgba(black, .7);
  }
  &.lock {
    cursor: default;
  }
}

.rs-badge {
  float: left;
  font-family: "Lucida Console";
  font-size: 10px;
  color: rgba(white, .7);
  background: rgba($green,.4);
  padding: 2px;
  padding-top: 3px;
  padding-bottom: 1px;
  display:block;
  text-align:center;
  border: 1px solid darken($green, 8);
  @include box-shadow(rgba(black,.6) 0 1px 2px);
  &.error {
    background: rgba($red, .5);
    border: 1px solid darken($red, 10);
  }
  &.big {
    background: darken($blue, 40);
    border: 1px solid darken($blue, 50);
    height: 40px;
    font-size: 17px;
    padding: 9px 10px;
  }
  &.clickable {
    cursor: pointer;
    &:hover {
      background-color: darken($blue, 30);
    }
  }
}

.rs-sub-input {
  margin: 20px auto;
}

.rs-ruler-url {
  @include user-select(text);
  color: rgba(black, .5);
  text-decoration: none;
  background:rgba($green,.3);
  padding:10px;
  font-family:monospace;
  @include text-shadow(rgba(white, .1) 0 1px);
  &:hover {
    text-decoration:underline;
  }
  &.small {
    font-size: 14px;
  }
}

.rs-error-msg {
  margin-left: 20px;
}

.rs-error-msg {
  color:rgba(black, .5);
  @include text-shadow(rgba(white, .1) 0 1px);
}

.rs-sketch-container {
  margin: 0 auto;
  width: 800px;
  height:400px;
  position: relative;
  background: rgba(black, .3);
  margin-top: 2em;
  border: 1px solid rgba(white, .2);
  @include box-shadow(rgba(black, .5) 0 0 12px inset);
  font-family: monospace;
  font-size: 11px;
  &.invalid {
    border-color:$red;
  }
  &.valid {
    border-color:$green;
  }
}

.sk-prop {
  color: rgba(white, .8);
}

.sk-type {
  background: rgba(white, .8);
  padding: 3px;
}
