<section class="rs-ruler editor-view">
  <div class="rs-super-input">
    <div class="rs-super-notif" ng-if="errorMsg">
      <div class="rs-sub-input">
        <div class="rs-badge error">ERR<br>400</div>
        <div class="rs-error-msg">{{ errorMsg }}</div>
      </div>
    </div>
    <div class="rs-super-notif" ng-if="isValid(rule.input) && rule.input !== ''">
      <div class="rs-sub-input">
        <div class="rs-badge">HTTP<br>GET</div>
        <a target="_blank" ng-href="{{domain}}/api/{{rule.input}}"
          class="rs-ruler-url"
          ng-class="{ small: rule.input.length > 30 }">
          {{ ui.domain }}/api/{{ rule.input }}
        </a>
        <button ng-class="{spinner:stocks.saving,lock:isSaved()}" ng-click="saveStock(rule.input)" ng-disabled="!ui.isLogged" class="rs-btn absright">
          <i ng-class="{'icon-spinner':stocks.saving,'icon-star2':isSaved(),'icon-star':!stocks.saving && !isSaved()}"></i>
        </button>
      </div>
    </div>
  <input
    ng-class="{ invalid: !isValid(rule.input), waiting: rule.input === '', small: rule.input.length > 30 }"
    focus-me="!loading"
    ng-model="rule.input"
    type="text"
    maxlength="51"
    class="rs-ruler-input">
  </div>
  <div
    ng-class="{ invalid: !isValid(rule.input), valid: isValid(rule.input) && rule.input !== '' }"
    class="rs-sketch-container">
  </div>
</section>
