<section class="rs-ruler editor-view">
  <input
    ng-class="{ invalid: !isValid(rule.input), waiting: rule.input === '' }"
    focus-me="!loading"
    ng-model="rule.input"
    type="text"
    class="rs-ruler-input">
  <rule-sketch
    class="rs-ruler-result"
    ng-class="{ invalid: !isValid(rule.input), valid: isValid(rule.input) && rule.input !== '' }"
    rule="rule">
  </rule-sketch>
  <div ng-if="errorMsg">
    <div class="flex centered rs-sub-input">
      <div class="rs-badge error">ERR<br>400</div>
      <div class="rs-error-msg">{{ errorMsg }}</div>
    </div>
  </div>
  <div ng-if="isValid(rule.input) && rule.input !== ''">
    <div class="flex centered rs-sub-input">
      <div class="rs-badge">HTTP<br>GET</div>
      <a target="_blank" ng-href="{{domain}}/api/{{rule.input}}" class="rs-ruler-url">
        {{ domain }}/api/{{ rule.input }}
      </a>
    </div>
    <div ng-click="saveStock(rule.input)" ng-disabled="!ui.isLogged" class="rs-badge big clickable">
      <i class="icon-disk"></i> Save this Stock
    </div>
  </div>
</section>
