<section class="auth-wrapper">
  <h2>Login</h2>

  <p>Please enter your credentials to get access to new features.</p>
  <form class="form" name="form" ng-submit="login(form)" novalidate>

    <div class="form-group">
      <input type="email" placeholder="Enter your email" name="email" class="form-control" ng-model="user.email" required>
    </div>

    <div class="form-group">
      <input type="password" placeholder="Enter your password" name="password" class="form-control" ng-model="user.password" required>
    </div>

    <div class="form-group has-error">
      <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
        Please enter your email and password.
      </p>
      <p class="help-block" ng-show="form.email.$error.email && submitted">
        Please enter a valid email.
      </p>
    </div>

    <button class="btn btn-login" type="submit">
      Login
    </button>

    <div class="flex">
      <a class="btn mid" href="/signup">Register</a>
      <a ng-click="loginOauth('google')" class="btn mid google-plus" href="">Google+</a>
    </div>

  </form>

</section>
