@import 'compass/reset';
@import 'compass/css3';

// Colors
// ------
$white: #ecf0f1;
$red: #bc6f43;
$orange: #bf9646;
$yellow: #c1bd48;
$green: #82c64e;
$green2: #a4c44b;
$blue: #7ec5d4;


// Fonts
// -----

@include font-face("Sinkin Light", font-files("sinkinsans/sinkinsans_300light_macroman/SinkinSans-300Light-webfont.eot",
                                        "sinkinsans/sinkinsans_300light_macroman/SinkinSans-300Light-webfont.svg",
                                        "sinkinsans/sinkinsans_300light_macroman/SinkinSans-300Light-webfont.ttf",
                                        "sinkinsans/sinkinsans_300light_macroman/SinkinSans-300Light-webfont.woff"));

@include font-face("Sinkin Light Italic", font-files("sinkinsans/sinkinsans_300lightitalic_macroman/SinkinSans-300LightItalic-webfont.eot",
                                        "sinkinsans/sinkinsans_300lightitalic_macroman/SinkinSans-300LightItalic-webfont.svg",
                                        "sinkinsans/sinkinsans_300lightitalic_macroman/SinkinSans-300LightItalic-webfont.ttf",
                                        "sinkinsans/sinkinsans_300lightitalic_macroman/SinkinSans-300LightItalic-webfont.woff"));

@include font-face("Sinkin", font-files("sinkinsans/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.eot",
                                        "sinkinsans/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.svg",
                                        "sinkinsans/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.ttf",
                                        "sinkinsans/sinkinsans_400regular_macroman/SinkinSans-400Regular-webfont.woff"));

@include font-face("Sinkin Italic", font-files("sinkinsans/sinkinsans_400italic_macroman/SinkinSans-400Italic-webfont.eot",
                                        "sinkinsans/sinkinsans_400italic_macroman/SinkinSans-400Italic-webfont.svg",
                                        "sinkinsans/sinkinsans_400italic_macroman/SinkinSans-400Italic-webfont.ttf",
                                        "sinkinsans/sinkinsans_400italic_macroman/SinkinSans-400Italic-webfont.woff"));

@include font-face("Sinkin Bold", font-files("sinkinsans/sinkinsans_600semibold_macroman/SinkinSans-600SemiBold-webfont.eot",
                                        "sinkinsans/sinkinsans_600semibold_macroman/SinkinSans-600SemiBold-webfont.svg",
                                        "sinkinsans/sinkinsans_600semibold_macroman/SinkinSans-600SemiBold-webfont.ttf",
                                        "sinkinsans/sinkinsans_600semibold_macroman/SinkinSans-600SemiBold-webfont.woff"));

@include font-face("Sinkin Bold Italic", font-files("sinkinsans/sinkinsans_600semibolditalic_macroman/SinkinSans-600SemiBoldItali-webfont.eot",
                                        "sinkinsans/sinkinsans_600semibolditalic_macroman/SinkinSans-600SemiBoldItali-webfont.svg",
                                        "sinkinsans/sinkinsans_600semibolditalic_macroman/SinkinSans-600SemiBoldItali-webfont.ttf",
                                        "sinkinsans/sinkinsans_600semibolditalic_macroman/SinkinSans-600SemiBoldItali-webfont.woff"));

body {
  font-size: 16px;
  font-family: "Sinkin Light";
  padding: 1em;
  background: $white;
  @include user-select(none);
}

h1 {
  text-align: right;
  margin-right: 18px;
  font-size: 23px;
  line-height: 138px;
  color: $blue;
  .embed {
    display: inline-block;
    line-height: 82px;
    padding-top: 7px;
    padding-left: 4px;
    padding-right: 3px;
    background: $blue;
    color: white;
  }
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
// endinjector
