.rs-ruler-result.invalid .rs-sketch-container {
  border-color:$red;
}
.rs-ruler-result.valid .rs-sketch-container {
  border-color:$green;
}

.rs-sketch-container {
  margin: 0 auto;
  width: 800px;
  height:400px;
  position: relative;
  background: rgba(black, .3);
  margin-top: 2em;
  border: 1px solid rgba(white, .2);
  @include box-shadow(rgba(black, .5) 0 0 12px inset);
}
