<div class="rs-sketch-container">
  <p>{{ rule.lexed | json }}</p>
  <div ng-if="lexed.type === 'array'" class="sk-capsule">
    <div>
      <span class="sk-nb">[{{lexed.nbChilds}}]</span>
    </div>
    <div>
      <span class="sk-mult">x</span>
    </div>
    <div class="sk-capsule">
      <div>
        <span class="sk-bracket">{</span>
      </div>
      <ul class="sk-list">
        <li>
          <span class="sk-type-str">String</span> <span class="sk-prop">name</span>
        </li>
        <li>
          <span class="sk-type-nbr">Number</span> <span class="sk-prop">age</span>
        </li>
        <li>
          <span class="sk-type-str">String</span> <span class="sk-prop">name</span>
        </li>
        <li>
          <span class="sk-type-nbr">Number</span> <span class="sk-prop">age</span>
        </li>
        <li>
          <div class="sk-capsule">
            <div>
              <span class="sk-prop">yolo :</span><span class="sk-nb">[4]</span>
            </div>
            <div>
              <span class="sk-mult">x</span>
            </div>
            <div class="sk-capsule">
              <div>
                <span class="sk-bracket">{</span>
              </div>
              <ul class="sk-list">
                <li>
                  <span class="sk-type-str">String</span> <span class="sk-prop">name</span>
                </li>
                <li>
                  <span class="sk-type-nbr">Number</span> <span class="sk-prop">age</span>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
