.rs-ruler {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rs-ruler-input {
  outline: none;
  border: none;
  border-bottom: 5px solid rgba(black, .2);
  background: rgba(white, .7);
  @include box-shadow(rgba(black, .3) 0 4px 8px);
  font-family: "monospace";
  font-size: 31px;
  width: 80%;
  height: 130px;
  text-align: center;
  padding-top: 20px;
  color: rgba(black, .5);
  &:hover {
    color: rgba(black, .7);
  }
  &:focus {
    color: rgba(black, .7);
    border-color: $green;
  }
  &.invalid {
   border-color: $red;
  }
  &.waiting{
   border-color: $blue;
  }
}

.rs-sub-input {
  margin: 20px auto;
}

.rs-ruler-url {
  @include user-select(text);
  margin-left: 20px;
  color: rgba(black, .5);
  text-decoration: none;
  @include text-shadow(rgba(white, .1) 0 1px);
  &:hover {
    text-decoration:underline;
  }
}

.rs-error-msg {
  margin-left: 20px;
}

.rs-badge {
  font-family: "Lucida Console";
  font-size: 10px;
  color: rgba(white, .7);
  background: rgba($green,.4);
  padding: 2px;
  padding-top: 3px;
  padding-bottom: 1px;
  display:block;
  text-align:center;
  border: 1px solid darken($green, 8);
  @include box-shadow(rgba(black,.6) 0 1px 2px);
  &.error {
    background: rgba($red, .5);
    border: 1px solid darken($red, 10);
  }
}

.rs-error-msg {
  color:rgba(black, .5);
  @include text-shadow(rgba(white, .1) 0 1px);
}

.rs-caps {
  max-width: 1024px;
  margin: 0 auto;
  color: rgba(black, .6);
  h2 {
    color: $green2;
    font-family: "Sinkin Light";
    background: rgba(black, .4);
    padding: 0 8px;
    padding-top: 3px;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 15px;
    @include text-shadow(rgba(black, .4) 0 2px 3px);
  }
  img {
    min-width: 400px;
    margin: 30px;
    @include box-shadow(rgba(black,.2) 0 3px 5px);
  }
  .descr {
    padding: 30px;
  }
}

.rs-launch {
  display: flex;
  justify-content: center;
  margin-bottom: 132px;
}

a.rs-launch-item {
  text-align: center;
  padding: 30px;
  background: rgba(black, .1);
  border: 1px solid rgba(black, .2);
  border-right: none;
  text-decoration: none;
  &:last-child {
    border-right: 1px solid rgba(black, .2);
  }
  h2 {
    text-transform: uppercase;
    font-family: monospace;
    color: rgba(black, .5);
    margin-bottom: 20px;
  }
  &:hover {
    background: rgba(black, .6);
    h2 {
      color: rgba(white, .7);
    }
  }
}
