.rs-caps {
  max-width: 1024px;
  margin: 0 auto;
  color: rgba(black, .6);
  h2 {
    color: $green2;
    font-family: "Sinkin Light";
    background: rgba(black, .4);
    padding: 0 8px;
    padding-top: 3px;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 15px;
    @include text-shadow(rgba(black, .4) 0 2px 3px);
  }
  img {
    min-width: 400px;
    margin: 30px;
    @include box-shadow(rgba(black,.2) 0 3px 5px);
  }
  .descr {
    padding: 30px;
  }
}

.rs-launch {
  display: flex;
  justify-content: center;
  margin-bottom: 132px;
}

a.rs-launch-item {
  text-align: center;
  padding: 30px;
  background: rgba(black, .1);
  border: 1px solid rgba(black, .2);
  border-right: none;
  text-decoration: none;
  &:last-child {
    border-right: 1px solid rgba(black, .2);
  }
  h2 {
    text-transform: uppercase;
    font-family: monospace;
    color: rgba(black, .5);
    margin-bottom: 20px;
  }
  &:hover {
    background: rgba(black, .6);
    h2 {
      color: rgba(white, .7);
    }
  }
}
