table {
  width: 100%;
  margin-bottom: 2em;
  caption {
    color: rgba(black, .3);
    font-family: "Sinkin Italic";
    margin-bottom: 1em;
  }
  tbody tr {
    border-bottom: 1px solid rgba(black, .1);
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: rgba(white, .03);
    }
  }
  td, th {
    padding: 20px;
    @include user-select(text);
    &.code {
    }
    &.medium {
      max-width:100px;
      word-wrap: break-word;
    }
  }
}

.container p {
  background: rgba(white, .05);
  padding: 1em;
  line-height: 1.8em;
  margin-bottom: 2em;
}

.segment {
  padding-top: 3em;
}

.doc-h2 {
  font-family: "Sinkin";
  font-size: 24px;
  margin-bottom: 2em;
  span {
    border-bottom: 2px dashed rgba(black, .2);
  }
}

.doc-h3 {
  font-family: "Sinkin";
  margin-bottom: 3em;
  text-align:center;
  color: $green;
  @include text-shadow(rgba(black, .3) 0 1px 1px);
  span {
    border-bottom: 2px dashed rgba(black, .2);
  }
}

.doc-index-bloc {
}

ol {
  list-style-type:upper-roman;
}

.doc-index {
  ol {
    list-style-type:lower-alpha;
    margin-left: 20px;
  }
  li {
    line-height: 24px;
    a {
      color: rgba(black, .6);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.smart-hr {
  width: 60%;
  height: 8px;
  background: rgba(black, .1);
  border-top: 1px solid rgba(black, .2);
  margin: 0 auto;
}

pre {
  font-family: monospace;
  background: rgba(white, .7);
  padding: 12px;
  margin-bottom: 2em;
  @include box-shadow(rgba(black, .3) 0 4px 8px);
}

.code-cell {
  width: 150px;
}

.code {
  color: white;
  padding: 5px;
  font-family: monospace;
}

.no-marged {
  margin: 0;
}

.gotop {
  float: right;
  font-size: 22px;
  color: rgba(black, .4);
  text-decoration: none;
  &:hover {
    color: white;
  }
}
