<div class="container">

  <table ng-class="{'no-margin':!stocks.length}">
    <caption>Saved Stocks</caption>
    <thead ng-if="stocks.length">
      <tr>
        <th>Rule</th>
        <th>Name</th>
        <th>Code</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in stocks">
        <td class="code-cell">
          <span class="code">{{stock.rule}}</span>
        </td>
        <td>{{stock.name}}</td>
        <td>{{stock.code}}</td>
        <td>{{stock.created_at | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{stock.updated_at | date:'dd/MM/yyyy HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
  <h3 class="marged-bottom"><strong>Nothing for now</strong></h3>

  <form class="form change-pwd" name="form" ng-submit="changePassword(form)" novalidate>

    <input type="password" placeholder="Enter your current password" class="form-control" ng-model="user.oldPassword"
           name="password" ng-class="{'has-error':!user.success && form.password.$invalid && submitted}" required mongoose-error>
    <input type="password" placeholder="Enter a new password" class="form-control" ng-model="user.newPassword" ng-minlength="3"
           ng-class="{'has-error':!user.success && (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)}"
           name="newPassword" required>

    <div class="msg">{{message}}</div>

    <button class="btn" type="submit">Save changes</button>
  </form>

</div>
