.little-link {
  color: white;
  font-size: 12px;
  text-decoration: none;
  &:hover {
    color: rgba(black, .7);
  }
}

.change-pwd {
  width: 400px;
  .msg {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
