<div class="container">

  <h2 class="doc-h2">
    <span>Stocks</span>
  </h2>

  <table ng-class="{'no-margin':!stocks.length}">
    <caption>Saved Stocks</caption>
    <thead ng-if="stocks.length">
      <tr>
        <th>Rule</th>
        <th>Url</th>
        <th class="text-center">Calls</th>
        <th class="text-center">Created</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in stocks">
        <td class="code-cell">
          <span class="code">{{stock.rule}}</span>
        </td>
        <td>
          <a class="little-link" target="blanck" ng-href="{{ui.domain}}/api/stocks{{stock.url}}">/api/stocks{{stock.url}}</a>
        </td>
        <td class="text-center"><strong>{{stock.calls}}</strong></td>
        <td class="text-center date">{{stock.created_at | date:'dd/MM/yyyy'}}</td>
        <td>
          <button ng-click="deleteStock(stock)" class="icon del">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 ng-if="!stocks.length" class="marged-bottom"><strong>Nothing for now</strong></h3>

  <div ng-if="ui.currentUser.type !== 'basic'">
    <h2 class="doc-h2">
      <span>Allowed origins</span>
    </h2>
    <p class="select">This section list and allow you to set the origins that can request our API. Origins can be either domain names or IP.
    <br>It will be used to authenticate you and every request that need a premium account, decrementing your month count. All the free request are not impacted.</p>
    <div class="warning-block" ng-if="!me.origins.length">
      <i class="icon-notification"></i> You've not set any allowed origin ! All the requests on your URLs will count.
    </div>
    <div class="origins-block">
      <form ng-submit="addOrigin(controls.newOrigin)" class="form-inline">
        <input
          type="text"
          placeholder="Domain or IP"
          class="form-control"
          ng-model="controls.newOrigin">
        <input
          ng-disabled="alreadyAdded(controls.newOrigin)"
          class="btn"
          type="submit"
          value="Add this origin">
      </form>
      <table>
        <thead ng-if="me.origins.length">
          <tr>
            <th>Name</th>
            <th class="text-center">Calls</th>
            <th class="text-center">Status</th>
            <th class="small">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="origin in me.origins">
            <td class="code-cell">
              <a class="little-link" target="blanck" ng-href="{{origin.name}}">{{origin.name}}</a>
            </td>
            <td class="text-center">
              <strong>{{origin.calls}}</strong>
            </td>
            <td class="text-center">
              <span>{{ origin.active && 'Allowed' || 'Locked' }}</span>
            </td>
            <td>
              <button
                ng-click="changeState(origin)" class="icon lock">
                <i ng-class="{'icon-lock':!origin.active,'icon-checkmark':origin.active}"></i>
              </button>
              <button ng-click="deleteOrigin(origin)" class="icon del">
                <i class="icon-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
