.little-link {
  color: white;
  font-size: 12px;
  text-decoration: none;
  &:hover {
    color: rgba(black, .7);
  }
}

.change-pwd {
  width: 400px;
  .msg {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

th {
  font-family: "Sinkin Bold";
  &.small {
    width: 140px;
  }
}

td.date {
  font-size: 12px;
}

.text-center {
  text-align:center;
}

.icon {
  cursor:pointer;
  padding:10px;
  background:transparent;
  border:1px solid transparent;
  color:rgba(white,.3);
  &.lock {
    i {
      margin-left: 3px;
    }
    &:hover {
      background: rgba($orange, .4);
      color:rgba(white,.8);
    }
  }
  &.del:hover {
    background: rgba($red,.4);
    color: rgba(white,.8);
  }
}

.warning-block {
  font-size: 15px;
  text-align: center;
}
