.pricing-wrapper {
  color: darken($blue, 20);
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
  @include text-shadow(rgba(black, .3) 0 1px 2px);
  header {
    font-size: 40px;
    font-family: 'Sinkin';
    margin-bottom: 30px;
  }
  h3 {
    font-family: 'Sinkin Light Italic';
    span {
      background: rgba(black, .1);
      padding: 5px 8px;
      @include border-radius(10px);
    }
  }
}
