.pricing-wrapper {
  width: 1000px;
  margin: 0 auto;
  color: darken($blue, 20);
  header {
    font-size: 40px;
    font-family: 'Sinkin';
    margin-bottom: 30px;
  }
  h3 {
    font-family: 'Sinkin Light Italic';
  }
}
